<!doctype html>
<html>
<head>
  <title>Soner Cloud Computing</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}vendors/bootstrap/css/bootstrap.css" type="text/css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}vendors/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css"/>
</head>


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Soner Cloud Computing</title>
		<meta charset="utf-8" />
		<!-- SEO Entries -->
		<meta content="rackhost, server, theme" name="keywords" />
		<meta content="Rackhost hosting and business theme." name="description" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<!-- Stylesheets -->
		<link href="{{ STATIC_URL }}css/rackhost.css" rel="stylesheet" type="text/css" />
		<!-- <link href="themes/blue/css/custom.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="themes/green/css/custom.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="themes/red/css/custom.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="themes/business/css/custom.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="themes/blueHeader/css/custom.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="themes/redHeader/css/custom.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="themes/greenHeader/css/custom.css" rel="stylesheet" type="text/css" /> -->
		<!-- Javascripts -->
		<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/rackhost.js" type="text/javascript"></script>
	</head>
	<body>
	{% block content %}

	{% endblock %}
</body>
</html>