
{% extends "base.html" %}

{% block content %}
    {% for message in messages %}
      <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
    {% endfor %}

<body>
		<!-- Site Wrapper Start -->
		<div class="siteWrapper">
			<!-- Site Header -->
			<div class="siteHeaderShadow">
			</div>
			<div class="siteHeader">
				<div class="center">
					<a class="logo" href="index.html"></a>
					<ul class="navigation">
						<li>
							<a href="shared.html"><strong>Shared</strong> Hosting<br /><span>cPanel powered</span></a>
						</li>
						<li>
							<a class="dropdown" href="virtual.html"><strong>Virtual</strong> Servers<br /><span>OpenVZ or Xen</span></a>
							<ul class="dropdown">
								<li><a href="virtual.html"><strong>OpenVZ</strong> Dallas, TX</a></li>
								<li><a href="virtual.html"><strong>OpenVZ</strong> San Diego, CA</a></li>
								<li><a href="virtual.html"><strong>Xen</strong> Washington, DC</a></li>
								<li><a href="virtual.html"><strong>Xen</strong> Chicago, IL</a></li>
							</ul>
						</li>
						<li>
							<a href="dedicated.html"><strong>Dedicated</strong> Servers<br /><span>cPanel or Unmanaged</span></a>
						</li>
						<li>
							<a class="dropdown" href="about.html"><strong>About</strong> Rackhost<br /><span>Who We Are</span></a>
							<ul class="dropdown">
								<li><a href="team.html"><strong>Our</strong> Team</a></li>
								<li><a href="locations.html"><strong>Datacenter</strong> Locations</a></li>
								<li><a href="blog.html"><strong>Company</strong> Blog</a></li>
								<li><a href="layout.html"><strong>Layout</strong> Elements</a></li>
								<li><a href="business.html"><strong>Business</strong> Theme</a></li>
							</ul>
						</li>
						<li>
							<a href="contact.html"><strong>Contact</strong> Us<br /><span>Custom Quotes</span></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Content Slider -->
			<div class="contentSlider">
				<div class="center">
					<div class="slide clearfix">
						<div class="slideSwitchLabel">
							<strong>Shared</strong> Hosting
						</div>
						<div class="information">
							<h1>Shared <span>Hosting</span></h1>
							<p>Powerful <strong>cPanel</strong> shared hosting on enterprise hardware.</p>
							<ul class="clearfix">
								<li><strong>96 MB</strong> Application Memory</li>
								<li><strong>20</strong> Addon Domains</li>
								<li><strong>10 GB</strong> Storage</li>
								<li><strong>400 GB</strong> Monthly Traffic</li>
							</ul>
							<div class="box clearfix">
								<div class="label">
									yearly<br />from
								</div>
								<div class="price">
									$69
								</div>
								<a class="colorButton" href="shared.html"><span class="pointer"><strong>View all</strong> available plans now</span></a>
							</div>
						</div>
						<img src="img/slider/sharedServer.png" alt="Shared" />
					</div>
					<div class="slide clearfix">
						<div class="slideSwitchLabel">
							<strong>Virtual</strong> Servers
						</div>
						<div class="information">
							<h1>Virtual <span>Servers</span></h1>
							<p>Enterprise <strong>OpenVZ</strong> and <strong>Xen</strong> virtual servers on reliable nodes.</p>
							<ul class="clearfix">
								<li><strong>1x Intel Xeon</strong> Core 2.40GHz</li>
								<li><strong>256 MB</strong> DDR3 RAM</li>
								<li><strong>20 GB</strong> SATA2</li>
								<li><strong>1 TB</strong> Monthly Traffic</li>
							</ul>
							<div class="box clearfix">
								<div class="label">
									monthly<br />from
								</div>
								<div class="price">
									$12
								</div>
								<a class="colorButton" href="virtual.html"><span class="pointer"><strong>View all</strong> available plans now</span></a>
							</div>
						</div>
						<img src="img/slider/virtualServer.png" alt="Virtual" />
					</div>
					<div class="slide clearfix">
						<div class="slideSwitchLabel">
							<strong>Dedicated</strong> Servers
						</div>
						<div class="information">
							<h1>Dedicated <span>Servers</span></h1>
							<p>Experience <strong>enterprise class</strong> dedicated resources at a fraction of a cost.</p>
							<ul class="clearfix">
								<li><strong>2x Intel Xeon</strong> 5620 2.40GHz</li>
								<li><strong>48 GB</strong> DDR3 RAM</li>
								<li><strong>4x 500 GB</strong> SAS 10.000 RPM</li>
								<li><strong>10 TB</strong> Monthly Traffic</li>
							</ul>
							<div class="box clearfix">
								<div class="label">
									monthly<br />from
								</div>
								<div class="price">
									$289
								</div>
								<a class="colorButton" href="dedicated.html"><span class="pointer"><strong>View all</strong> available plans now</span></a>
							</div>
						</div>
						<img src="img/slider/dedicatedServer.png" alt="Dedicated" />
					</div>
				</div>
			</div>
			<!-- Content Wrapper -->
			<div class="contentWrapper">
				<div class="outerShadow">
				</div>
				<div class="innerShadow">
				</div>
				<div class="center clearfix">
					<!-- Additional clearfix necessary for non floated objects -->
					<div class="clearfix">
					</div>
					<!-- Content Starts - Header template should end here -->
					<div class="column tiny">
						<h3 class="iconMediumNetwork">100 GBit <span>Network</span></h3>
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
					</div>
					<div class="column tiny">
						<h3 class="iconMediumCog">99.99% <span>Uptime</span></h3>
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
					</div>
					<div class="column tiny">
						<h3 class="iconMediumServer">Reliable <span>Hardware</span></h3>
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
					</div>
					<div class="column tiny last">
						<h3 class="iconMediumHelp">Support <span>Center</span></h3>
						<ul class="columnNavigation">
							<li><a class="iconSmallPhone" href="contact.html"><strong>USA</strong> 123.456.7891</a></li>
							<li><a class="iconSmallChat" href="contact.html"><strong>Live</strong> Chat</a></li>
							<li><a class="iconSmallEmail" href="contact.html"><strong>Email</strong> Support</a></li>
							<li><a class="iconSmallClient" href="login.html"><strong>Client</strong> Login</a></li>
						</ul>
					</div>
					<!-- Wrap separatorShadow in separator to avoid IE 7 bugs -->
					<div class="separator">
						<div class="separatorShadow">
						</div>
					</div>
					<div class="column small">
						<h3>Customer <span>Review</span></h3>
						<div class="testimonialBox">
							<p>&ldquo;Rackhost helped me with a professional custom server solution when my business was so rapidly growing my old system couldn't handle the load anymore.&rdquo;</p>
							<div class="author">
								<strong>John Doe</strong>, CEO Example.com
							</div>
						</div>
					</div>
					<div class="column large last">
						<h3>About <span>Rackhost</span></h3>
						<p class="text"><a class="imageZoom" href="img/content/locations-2.jpg"><img class="alignRight" src="img/content/index-thumb.jpg" alt="index" /></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
					</div>
					<!-- Clear necessary after every column row -->
					<div class="clearfix">
					</div>
					<!-- Content Ends - Footer template should start here -->
				</div>
			</div>
			<!-- Twitter Widget -->
			<div class="twitterWidget">
				<div class="center">
					<!-- Simply change the href to your username -->
					<a class="profileLink" href="http://twitter.com/envatowebdesign"></a><p>Loading<span>Retrieving latest tweet...</span></p>
				</div>
			</div>
			<!-- Site Footer -->
			<div class="siteFooter">
				<div class="center clearfix">
					<div class="column tiny">
						<h5>Main <span>Navigation</span></h5>
						<ul class="columnNavigation">
							<li><a href="shared.html"><strong>Shared</strong> Hosting</a></li>
							<li><a href="virtual.html"><strong>Virtual</strong> Servers</a></li>
							<li><a href="dedicated.html"><strong>Dedicated</strong> Servers</a></li>
							<li><a href="about.html"><strong>About</strong> Rackhost</a></li>
							<li><a href="contact.html"><strong>Contact</strong> Us</a></li>
						</ul>
					</div>
					<div class="column tiny">
						<h5>Additional <span>Information</span></h5>
						<ul class="columnNavigation">
							<li><a href="terms.html"><strong>Site</strong> Map</a></li>
							<li><a href="terms.html"><strong>Terms</strong> of Service</a></li>
							<li><a href="terms.html"><strong>Privacy</strong> Policy</a></li>
							<li><a href="terms.html"><strong>DMCA</strong> Policy</a></li>
						</ul>
					</div>
					<div class="column tiny">
						<h5>Support <span>Center</span></h5>
						<ul class="columnNavigation">
							<li><a class="iconSmallPhone" href="contact.html"><strong>USA</strong> 123.456.7891</a></li>
							<li><a class="iconSmallChat" href="contact.html"><strong>Live</strong> Chat</a></li>
							<li><a class="iconSmallEmail" href="contact.html"><strong>Email</strong> Support</a></li>
							<li><a class="iconSmallClient" href="login.html"><strong>Client</strong> Login</a></li>
						</ul>
					</div>
					<div class="column tiny last">
						<h5>About <span>Rackhost</span></h5>
						<p class="text">Rackhost provides enterprise hosting and server services at an amazing price. Don't see something that suits your needs? <a href="contact.html">Get a free custom quote</a> from one of our hosting experts.</p>
					</div>
				</div>
			</div>
			<!-- Site Footer Bar -->
			<div class="siteFooterBar">
				<div class="center">
					<a class="backToTop" href="#">Back to Top</a><p>Follow us on <a href="#">Twitter</a>, <a href="#">Facebook</a> or <a href="#">LinkedIn</a> to receive updates regarding network issues, discounts and more.<br />2012 &copy; Rackhost. All rights reserved. Design by <a href="http://serifly.com">Serifly</a>
				</div>
			</div>
		</div>
		<!-- Site Wrapper Ends -->
	</body>

  
{% endblock %}